
.recordings_loading {
	color: #2D8F8B;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
}

.recordings_header {
	color: #2D8F8B;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
}

.recordings_header_results{
	display: inline-block;
}

.recordings_header_navigation{
	display: inline-block;
	float: right;
}

.recordings_header_navigation_prev {
	border-right: 1px solid black;
	padding-right: 7px;
}

.recordings_header_navigation_next {
	border-left: 1px solid black;
	padding-left: 7px;
}

.recordings_header_navigation_prev,
.recordings_header_navigation_pageid,
.recordings_header_navigation_next {
	color: #CCCCCC;
}

.recordings_header_navigation_prev,
.recordings_header_navigation_page,
.recordings_header_navigation_pageid,
.recordings_header_navigation_next {
	display: inline-block;
	margin-left: 2px;
	margin-right: 3px;
}

.recordings_header_navigation_prev a,
.recordings_header_navigation_page a,
.recordings_header_navigation_pageid a,
.recordings_header_navigation_next a{
	cursor: pointer;
	color: #2D8F8B;
}

.recordings_header_navigation_prev a:hover,
.recordings_header_navigation_page a:hover,
.recordings_header_navigation_pageid a:hover,
.recordings_header_navigation_next a:hover{
	color: #A72123;
	text-decoration: underline;
}


.recordings_entry {
	min-height: 90px;
}


.recordings_entry.even_entry {
	background-color: rgb(239, 247, 249);
}

.recordings_entry.odd_entry {
	background-color: rgb(247, 251, 252);
}


.recordings_entry.pendent.even_entry,
.recordings_entry.pendent.odd_entry {
	background-color: yellow;
}

.recordings_entry.unpublished.even_entry,
.recordings_entry.unpublished.odd_entry {
	background-color: red;
}

.recordings_entry_preview_container {
	display: inline-block;
	width: 150px;
}

.recordings_entry_preview {
	width: 100%;
}

.recordings_listing_header {
	font-family: "Helvetica Neue";
	color: #000000;
	font-size: 2em;
	margin-top: 2px;
	margin-bottom: 2px;
}

.recordings_count {
	font-family: "Helvetica Neue";
	color: #757575;
	font-size: 1.75em;
	margin-top: 2px;
	margin-bottom: 2px;
}

.recordings_entry_text_container {
	font-family: "Helvetica Neue";
	font-size: 0.875em;
	color: #000000;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
	overflow: hidden;
	position: absolute;
}

.recordings_entry_text_title_container {
	/* font-size: 14px; */
	/* font-weight:bold; */
	text-decoration: none;
}

.recordings_entry_text_title_container a {
	color: #174B49;
	text-decoration: none;
}
.recordings_entry_text_title_container a:hover {
	color: #A72123;
	text-decoration: underline;
}

.recordings_entry_text_author_container {
	font-size: 0.75em;
	font-weight:bold;
	font-style: italic;
	text-decoration: none;
}

.recordings_entry_text_author_container a {
	color: #2D8F8B;
	text-decoration: none;
}
.recordings_entry_text_author_container a:hover {
	color: #A72123;
	text-decoration: underline;
}

.recordings_entry_text_date {
	font-family: "Helvetica Neue";
	font-size: 0.75em;
	color: #757575;
	margin-top: -1em;
	margin-bottom: 1em;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#listContainer {
	/* width: 1100px; */
	margin-left: auto;
	margin-right: auto;
	margin-top: -8px;
	/* box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.63); */
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 40px;
	border-radius: 0px 0px 20px 20px;
	padding-top: 20px;
}

#preview{
	position:absolute;
	border:1px solid #ccc;
	background:#333;
	padding:5px;
	display:none;
	color:#fff;
}

#frameHiRes{
	position:absolute;
	border:1px solid #ccc;
	background:#333;
	padding:5px;
	display:none;
	color:#fff;
}
