#checkPublishPlugin_editor_info_container {
	position:absolute;
	left:0px;
	right:0px;
	bottom:246px;
	height:40px;
	z-index:10000;
}

#checkPublishPlugin_editor_message_container {
	width:100%;
	float:right;
	text-align:right;
	background-color:red;
	color:white;
	font-family:helvetica,arial,verdana,sans-sherif;
	font-size: 28px;
	line-height: 36px;
	height: 100%;
	overflow: hidden;
}

.showFramesButton {
	position:absolute;
	display:block;
	width:40px;
	height:37px;
	right:0px;
	background-image:url("../images/frame_button.png");
}

.showFramesButton:hover {
	background-position:-40px 0px;
}

.showFramesButton_active {
	position:absolute;
	display:block;
	width:40px;
	height:37px;
	right:0px;
	background-image:url("../images/frame_button.png");
	background-position:-80px 0px;
}

.frameListContainer {
	background-image:url("../images/playback_bkg.png");
}

.frameThumbnail {
	margin-left:3px;
	margin-right:3px;
	margin-bottom:8px;
	margin-top:8px;
	height:40px;
}

.enabledFrameThumbnail {
	border: 3px #80e04e solid;
	height:50px;
}


.fullScreenModeButton {
	position:absolute;
        top: 2px;
	right:80px;
	width:40px;
	height:37px;
	background-image:url("../images/fullscreen.png");
	background-repeat:no-repeat;

}

.fullscreenModeButton:hover {
	background-image:url("../images/fullscreen.png");
	background-repeat:no-repeat;
	background-position:-40px 0px;
}


.fullScreenModeButton_active {
	position:absolute;
        top: 2px;
	right:80px;
	width:40px;
	height:37px;
	background-image:url("../images/fullscreen.png");
	background-repeat:no-repeat;
	background-position:-40px 0px;
}

.fullscreenButton {
	position:absolute;
	right:126px;
	width:40px;
	height:37px;
	background-image:url("../images/fullscreen_button.png");
	background-repeat:no-repeat;
}

.fullscreenButton:hover {
	background-position: -40px;
}

.playButton {
	position:absolute;
	display:block;
	width:40px;
	height:37px;
	left:0px;
	background-image:url("../images/play_button.png");
}

.playButton:hover {
	background-position:-40px 0px;
}

.pauseButton {
	position:absolute;
	float:left;
	display:block;
	width:40px;
	height:37px;
	left:0px;
	background-image:url("../images/pause_button.png");
}

.pauseButton:hover {
	background-position:-40px 0px;
}

.repeatButton {
	position:absolute;
	display:block;
	width:40px;
	height:37px;
	left:44px;
	background-image:url("../images/repeat_button.png");
}

.repeatButton:hover {
	background-position:-40px 0px;
}

.showSocialButton {
	position:absolute;
	display:block;
	width:40px;
	height:37px;
	right:40px;
	background-image:url("../images/social_button.png");
}

.showSocialButton:hover {
	background-position:-40px 0px;
}

.showSocialButton_active {
	position:absolute;
	display:block;
	width:40px;
	height:37px;
	right:40px;
	background-image:url("../images/social_button.png");
	background-position:-80px 0px;
}

#playerContainer_controls_playback_social_container {
	position:absolute;
	right:0px;
	bottom:37px;
	width:80px;
	height:37px;
	background-image:url("../images/playback_bkg.png");
}

.socialButtonFacebook {
	position:absolute;
	display:block;
	width:40px;
	height:37px;
	right:0px;
	background-image:url("../images/facebook_button.png");
}

.socialButtonFacebook:hover {
	background-position: -40px 0px;
}

.socialButtonTwitter {
	position:absolute;
	display:block;
	width:40px;
	height:37px;
	right:40px;
	background-image:url("../images/twitter_button.png");
}

.socialButtonTwitter:hover {
	background-position: -40px 0px;
}

.showViewModeButton {
	position:absolute;
	right:80px;
	width:40px;
	height:37px;
	background-image:url("../images/view_icon.png");
	background-repeat:no-repeat;

}

.showViewModeButton:hover {
	background-position:-40px 0px;
}

.showViewModeButton_active {
	position:absolute;
	right:80px;
	width:40px;
	height:37px;
	background-image:url("../images/view_icon.png");
	background-repeat:no-repeat;
	background-position:-80px 0px;
}

#playerContainer_controls_playback_viewmode_container {
	position:absolute;
	right:42px;
	bottom:37px;
}

