.captionsButton_active {
	position:absolute;
	width:40px;
	height:37px;
	background-size: 300%;
	background-image:url("../resources/images/caption_icon.png");
	background-repeat:no-repeat;
	background-position: -80px;
}

.captionsButton {
	position:absolute;
	width:40px;
	height:37px;
	background-size: 300%;
	background-image:url("../resources/images/caption_icon.png");
	background-repeat:no-repeat;
}

.captionsButton:hover, .captionsButton:focus {
	background-position: -80px;
}

.captionsButton_noCaptions {
	position:absolute;
	width:40px;
	height:37px;
	background-size: 300%;
	background-image:url("../resources/images/caption_icon.png");
	background-repeat:no-repeat;
	background-position: -40px;
}

.captionsButton_noCaptions_active {
	position:absolute;
	width:40px;
	height:37px;
	background-size: 300%;
	background-image:url("../resources/images/caption_icon.png");
	background-repeat:no-repeat;
	background-position: -40px;
}

.CaptionsPlayerOverlayPlugin{
	position:absolute;
	left:0px;
	right:0px;
	bottom:40px;
	text-align:center;
	font-family:Helvetica, Arial, Verdana, sans-sherif;
	font-size:20px;
	text-shadow: -1px 0 black, 0 1px black,1px 0 black, 0 -1px black;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=black,direction=145,strength=2);
	color:whiteSmoke;
	z-index:90;
	width:90%;
	margin: auto;
	z-index:10000;
	display:none;
}
