.showFramesButton {
	position:absolute;
	display:block;
	width:40px;
	height:37px;
	background-size: 300%;
	background-image:url("../resources/images/frame_button.png");
}

.showFramesButton:hover, .showFramesButton:focus {
	background-position:-40px 0px;
}

.showFramesButton_active {
	position:absolute;
	display:block;
	width:40px;
	height:37px;
	right:0px;
	background-size: 300%;
	background-image:url("../resources/images/frame_button.png");
	background-position:-80px 0px;
}

.frameListContainer {
	background-image:url("../resources/images/playback_bkg.png");
}

.frameThumbnail {
	margin-left:3px;
	margin-right:3px;
	margin-bottom:8px;
	margin-top:8px;
	height:40px;
}

.focusedFrameThumbnail {
	margin: 0px;
	border: 3px #e04e80 solid;
	height: 50px;
}

.enabledFrameThumbnail {
	border: 3px #80e04e solid;
	height:50px;
}

.enabledFrameThumbnail:hover, .enabledFrameThumbnail:focus {
	border: 3px #e04e80 solid;
}
