.fullScreenModeButton {
	position:absolute;
	top: 2px;
	right:80px;
	width:40px;
	height:37px;
	background-size: 200%;
	background-image:url("../resources/images/fullscreen.png");
	background-repeat:no-repeat;
}

.fullscreenModeButton:hover, .fullscreenModeButton:focus {
	background-image:url("../resources/images/fullscreen.png");
	background-repeat:no-repeat;
	background-position:-40px 0px;
}

.fullScreenModeButton_active {
	position:absolute;
        top: 2px;
	right:80px;
	width:40px;
	height:37px;
	background-size: 200%;
	background-image:url("../resources/images/fullscreen.png");
	background-repeat:no-repeat;
	background-position:-40px 0px;
}

.fullscreenButton {
	position:absolute;
	width:40px;
	height:37px;
	background-size: 200%;
	background-image:url("../resources/images/fullscreen_button.png");
	background-repeat:no-repeat;
}

.fullscreenButton:hover, .fullscreenButton:focus {
	background-position: -40px;
}
