.captionsButton_active {
	position:absolute;
	width:40px;
	height:37px;
	background-size: 300%;
	background-image:url("../resources/images/caption_icon.png");
	background-repeat:no-repeat;
	background-position: -80px;
}

.captionsButton {
	position:absolute;
	width:40px;
	height:37px;
	background-size: 300%;
	background-image:url("../resources/images/caption_icon.png");
	background-repeat:no-repeat;
}

.captionsButton:hover, .captionsButton:focus {
	background-position: -80px;
}

.captionsButton_noCaptions {
	position:absolute;
	width:40px;
	height:37px;
	background-size: 300%;
	background-image:url("../resources/images/caption_icon.png");
	background-repeat:no-repeat;
	background-position: -40px;
}

.captionsButton_noCaptions_active {
	position:absolute;
	width:40px;
	height:37px;
	background-size: 300%;
	background-image:url("../resources/images/caption_icon.png");
	background-repeat:no-repeat;
	background-position: -40px;
}

.CaptionsPlayerOverlayPlugin{
	position:absolute;
	left:0px;
	right:0px;
	bottom:40px;
	text-align:center;
	font-family:Helvetica, Arial, Verdana, sans-sherif;
	font-size:20px;
	text-shadow: -1px 0 black, 0 1px black,1px 0 black, 0 -1px black;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=black,direction=145,strength=2);
	color:whiteSmoke;
	z-index:90;
	width:90%;
	margin: auto;
	z-index:10000;
	display:none;
}


#CommentPlugin_Loading {
    background-image: url("pluginloading.gif");
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10px;
    width: 100%;
    height: 11px;
    display:block;
}

#CommentPlugin_Publish_entry_buttons_area {
	margin-top: 5px;
}

.comments_entry {
	margin: 5px;
	margin-bottom: 15px;
	width: 100%;
}

.comments_entry_username{
	color: #438bc5;
	font-size: 14px;
	font-family: arial,sans-serif;
	font-weight: bold;	
}

.comments_entry_datepublish{
	color: #999;
	font-size: 11px;
	font-family: arial,sans-serif;
	margin-left: 20px;
}

.comments_entry_comment{
	margin-top: 5px;	
	margin-bottom: 5px;	
}

.comments_entry_silhouette {
	width:5%;
}

.comments_entry_container{
	vertical-align: top;
	margin-left: 7px;
	width: 90%;
}


.comments_reply_container {
	width: 90%;	
}

.comments_entry_container textarea {
	width: 100%;
	height: 42px;
	margin: 0px;
	color: #52575c;
}


#paellaExtended_tabBar_commentsPlugin_reply_container {
	vertical-align: top;
	margin-left: 2px;
	width: 540px;	
}









.showFramesButton {
	position:absolute;
	display:block;
	width:40px;
	height:37px;
	background-size: 300%;
	background-image:url("../resources/images/frame_button.png");
}

.showFramesButton:hover, .showFramesButton:focus {
	background-position:-40px 0px;
}

.showFramesButton_active {
	position:absolute;
	display:block;
	width:40px;
	height:37px;
	right:0px;
	background-size: 300%;
	background-image:url("../resources/images/frame_button.png");
	background-position:-80px 0px;
}

.frameListContainer {
	background-image:url("../resources/images/playback_bkg.png");
}

.frameThumbnail {
	margin-left:3px;
	margin-right:3px;
	margin-bottom:8px;
	margin-top:8px;
	height:40px;
}

.focusedFrameThumbnail {
	margin: 0px;
	border: 3px #e04e80 solid;
	height: 50px;
}

.enabledFrameThumbnail {
	border: 3px #80e04e solid;
	height:50px;
}

.enabledFrameThumbnail:hover, .enabledFrameThumbnail:focus {
	border: 3px #e04e80 solid;
}


.fullScreenModeButton {
	position:absolute;
	top: 2px;
	right:80px;
	width:40px;
	height:37px;
	background-size: 200%;
	background-image:url("../resources/images/fullscreen.png");
	background-repeat:no-repeat;
}

.fullscreenModeButton:hover, .fullscreenModeButton:focus {
	background-image:url("../resources/images/fullscreen.png");
	background-repeat:no-repeat;
	background-position:-40px 0px;
}

.fullScreenModeButton_active {
	position:absolute;
        top: 2px;
	right:80px;
	width:40px;
	height:37px;
	background-size: 200%;
	background-image:url("../resources/images/fullscreen.png");
	background-repeat:no-repeat;
	background-position:-40px 0px;
}

.fullscreenButton {
	position:absolute;
	width:40px;
	height:37px;
	background-size: 200%;
	background-image:url("../resources/images/fullscreen_button.png");
	background-repeat:no-repeat;
}

.fullscreenButton:hover, .fullscreenButton:focus {
	background-position: -40px;
}


.playButton {
	position:absolute;
	display:block;
	width:40px;
	height:37px;
	background-size: 200%;
	background-image:url("../resources/images/play_button.png");
}

.playButton:hover, .playButton:focus {
	background-position:-40px 0px;
}

.playerContainer_controls_playback_container:hover, .playerContainer_controls_playback_container:focus {
	background-position:-40px 0px;
}

.pauseButton {
	position:absolute;
	float:left;
	display:block;
	width:40px;
	height:37px;
	background-size: 200%;
	background-image:url("../resources/images/pause_button.png");
}

.pauseButton:hover, .pauseButton:focus {
	background-position:-40px 0px;
}

.playButtonOnScreen {
	position: absolute;
	opacity: 0.7;
	top: 30%;
	left: 45%;
	bottom: 30%;
	right: 40%;
	z-index: 500;
}

.playButtonOnScreenIcon {
	display: block;
	cursor: pointer;
	height:100%;
}


.repeatButton {
	position:absolute;
	display:block;
	width:40px;
	height:37px;
	background-size:200%;
	background-image:url("../resources/images/repeat_button.png");
}

.repeatButton:hover, .repeatButton:focus {
	background-position:-40px 0px;
}


.showViewModeButton {
	position:absolute;
	width:40px;
	height:37px;
	background-image:url("../resources/images/view_icon.png");
	background-repeat:no-repeat;
}

.showViewModeButton:hover, .showViewModeButton:focus {
	background-position:-40px 0px;
}

.showViewModeButton_active {
	position:absolute;
	right:80px;
	width:40px;
	height:37px;
	background-image:url("../resources/images/view_icon.png");
	background-repeat:no-repeat;
	background-position:-80px 0px;
}

#playerContainer_controls_playback_viewmode_container {
	position:absolute;
	right:42px;
	bottom:37px;
}

.viewModeThumbnailFocus {
	border: 3px #e04e80 solid;
}


