.repeatButton {
	position:absolute;
	display:block;
	width:40px;
	height:37px;
	background-size:200%;
	background-image:url("../resources/images/repeat_button.png");
}

.repeatButton:hover, .repeatButton:focus {
	background-position:-40px 0px;
}
