.showUserViewStatsButton {
	position:absolute;
	display:block;
	width:40px;
	height:37px;
	background-size:300%;
	background-image:url("../resources/images/statistics_icon.png");
}

.showUserViewStatsButton:hover {
	background-position:-40px 0px;
}

.showUserViewStatsButton_active {
	position:absolute;
	display:block;
	width:40px;
	height:37px;
	right:40px;
	background-size:300%;
	background-image:url("../resources/images/statistics_icon.png");
	background-position:-80px 0px;
}

#playerContainer_controls_playback_showuserviewstats_container {
	position:absolute;
	bottom:37px;
	width:100%;
	height:25px;
	background-size: 200%;
	background-image:url("../resources/images/playback_bkg.png");
}