.showViewModeButton {
	position:absolute;
	width:40px;
	height:37px;
	background-image:url("../resources/images/view_icon.png");
	background-repeat:no-repeat;
}

.showViewModeButton:hover, .showViewModeButton:focus {
	background-position:-40px 0px;
}

.showViewModeButton_active {
	position:absolute;
	right:80px;
	width:40px;
	height:37px;
	background-image:url("../resources/images/view_icon.png");
	background-repeat:no-repeat;
	background-position:-80px 0px;
}

#playerContainer_controls_playback_viewmode_container {
	position:absolute;
	right:42px;
	bottom:37px;
}

.viewModeThumbnailFocus {
	border: 3px #e04e80 solid;
}
